{% from 'macros.html' import render_field %}
{% extends "layout.html" %}

{% block title %}Edit Entry{% endblock %}

{% block content %}
<div class="container">
    <div class="edit-entry">
        <h2>Edit Entry</h2>
        <form method="POST" action="">
            <div>{{ form.hidden_tag() }}</div>
            <div>{{ render_field(form.title) }}</div>
            <div>{{ render_field(form.date) }}</div>
            <div>{{ render_field(form.time_spent) }}</div>
            <div>{{ render_field(form.learned) }}</div>
            <div>{{ render_field(form.resources) }}</div>
            <input type="submit" value="Edit Entry" class="button">
            <a href="{{ url_for('entries') }}" class="button button-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
