{% extends "layout.html" %}

{% block title %}MyJournal{% endblock %}

{% block content %}
<div class="container">
    <div class="entry-list">
        {% if entries %}
            <h1>List of entries</h1>
            {% for entry in entries %}
            <article>
                <h2><a href="{{ url_for('entry_details', entryid=entry.id) }}">{{entry.title}}</a></h2>
                <p>{{ entry.date }}</p>
            </article>
            {% endfor %}
        {% else %}
        <h1>No entries</h1>
        {% endif %} 
    </div>
</div>
{% endblock %}